@page
@using OnkelMato.BlogEngine.Core.Service
@model OnkelMato.BlogEngine.Pages.BlogAdmin.EditModel
@inject ISeoProvider SeoProvider
@{
    SeoProvider.SetSiteInfo(Html, "Edit Blog", "Blog Engine Blog Edit Page", "noindex, nofollow");
}


<div class="row">
    @if (Model.AllowBlogAdministration)
    {
        <div class="col-md-6">
            <form method="post">
                <div class="card">

                    <div class="card-header text-light bg-dark">
                        <h1>Edit Blog Properties</h1>
                    </div>

                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Blog.UniqueId" />
                        <div class="form-group">
                            <label asp-for="Blog.Title" class="control-label"></label>
                            <input asp-for="Blog.Title" class="form-control" />
                            <span asp-validation-for="Blog.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Blog.Description" class="control-label"></label>
                            <textarea asp-for="Blog.Description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Blog.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Blog.CSS" class="control-label"></label>
                            <textarea asp-for="Blog.CSS" class="form-control" rows="15"></textarea>
                            <span asp-validation-for="Blog.CSS" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="card-footer">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                    </div>
                </div>
            </form>
        </div>
    }
    @if (Model.AllowBlogSelection || Model.AllowBlogCreation || Model.AllowBlogDeletion)
    {
        <div class="col-md-6">
            <div class="card">

                <div class="card-header text-light bg-dark">
                    <h1>Blogs</h1>
                </div>
                <div class="card-body">
                    <table class="table">
                        @foreach (var item in Model.Blog.Blogs)
                        {
                            <tr>
                                @if (@Model.AllowBlogSelection)
                                {
                                    <td>
                                        <a href="/?blogid=@item.BlogId">@item.Title</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @item.Title
                                    </td>
                                }
                                @if (Model.AllowBlogDeletion)
                                {
                                    <td>
                                        <a asp-page="/BlogAdmin/Delete" asp-route-BlogId="@item.BlogId" class="btn btn-danger">Delete</a>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
                @if (Model.AllowBlogCreation)
                {
                    var newId = Guid.NewGuid();
                    <div class="card-footer">
                        <a href="?blogId=@newId" class="btn btn-primary">Create new Blog</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
