@using System.Web
@model OnkelMato.BlogEngine.Web.ViewComponents.BlogMenuViewComponent

@foreach (var item in Model.MenuPosts)
{
    <li class="nav-item">
        @if (item.Url != null)
        {
            <a href="@item.Url" class="nav-link text-dark">@item.Title</a>
        }
        @if (item.Url == null && item.PostId != null)
        {
            <a asp-page="/Post/@HttpUtility.UrlEncode(item.Title)/@item.PostId" class="nav-link text-dark">@item.Title</a>
        }
    </li>
}