@page
@model Softwarekueche.Web.Pages.ImportModel
@{
    ViewData["Title"] = "Import";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Entity" class="control-label"></label>
                <select name="entity">
                    <option value="">Select an Entity</option>
                    <option value="1">Post</option>
                    <option value="2">PostImage</option>
                </select>
            </div>
            @if (!Model.UseTextarea)
            {
                <div class="form-group">
                    <label asp-for="JsonDocumentFile" class="control-label"></label>
                    <input type="file" asp-for="JsonDocumentFile" />
                    <span asp-validation-for="JsonDocumentFile" class="text-danger"></span>
                </div>
            }
            @if (Model.UseTextarea)
            {
                <div class="form-group">
                    <label asp-for="JsonDocument" class="control-label"></label>
                    <textarea asp-for="JsonDocument" class="form-control" rows="20" cols="150"></textarea>
                    <span asp-validation-for="JsonDocument" class="text-danger"></span>
                </div>
            }
            @if (!Model.UseTextarea)
            {
                <div class="form-group">
                    <label asp-for="SignatureFile" class="control-label"></label>
                    <input type="file" asp-for="SignatureFile" />
                    <span asp-validation-for="SignatureFile" class="text-danger"></span>
                </div>
            }
            @if (Model.UseTextarea)
            {
                <div class="form-group">
                    <label asp-for="Signature" class="control-label"></label>
                    <textarea asp-for="Signature" class="form-control" rows="10" cols="150"></textarea>
                    <span asp-validation-for="Signature" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
