@page
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    @foreach (var item in Model.Posts)
    {
        <div class="card box">
            <h6>@Html.DisplayFor(modelItem => item.UpdatedAt)</h6>
            <h1>
                @Html.DisplayFor(modelItem => item.Title)
            </h1>
            <div>
                @(new HtmlString(item.HtmlPreview))
            </div>
            @if (item.HasContent) {
                <div class="button"><a href="@item.DetailLink" class="button">
                <i class="bi bi-arrow-right-circle"></i>
                </a></div>
            }
        </div>
    }
</div>
