@page
@model OnkelMato.BlogEngine.Web.Pages.Meta.ImpressumModel
@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<h2 id="m46">Diensteanbieter</h2>
<p>Thomas Ley - Softwareküche</p>
<p>Rosseler Str. 29</p>
<p>D-51570 Windeck</p>

<h2 id="m56">Kontaktmöglichkeiten</h2><p>E-Mail-Adresse: <a href="mailto:info@softwarekueche.de">info@softwarekueche.de</a></p>
<p>Kontaktformular: /Meta/Kontakt</p>

<h2 id="m153">Vertretungsberechtigte Personen</h2><p>Vertretungsberechtigt: Thomas Ley</p>

<h2 id="m58">Angaben zum Unternehmen</h2>
<p class="seal"><a href="https://datenschutz-generator.de/" title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank" rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>