@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OnkelMato.BlogEngine
@using OnkelMato.BlogEngine.Web.ViewComponents
@inject BlogEngineRepository Repository
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Repository.Blog()?.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@Repository.Blog()?.Title</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @await Component.InvokeAsync(typeof(BlogMenuViewComponent))
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted position-absolute bottom-0 translate-middle-x start-50">
        <div class="container">
            @await Component.InvokeAsync(typeof(BlogFooterViewComponent))
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
            javascript:(function(){
              allowCopyAndPaste = function(e){
              e.stopImmediatePropagation();
              return true;
              };
              document.addEventListener('copy', allowCopyAndPaste, true);
              document.addEventListener('paste', allowCopyAndPaste, true);
              document.addEventListener('onpaste', allowCopyAndPaste, true);
            })();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>