@page
@model OnkelMato.BlogEngine.Pages.ImageAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div class="col-md-6">
        <div class="card">

            <div class="card-header text-light bg-dark">
                <h1>Create Post Image</h1>
            </div>

            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PostImage.File" class="control-label"></label>
                    <input type="file" asp-for="PostImage.File" class="form-control-file" />
                    <span asp-validation-for="PostImage.File" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostImage.Name" class="control-label"></label>
                    <input asp-for="PostImage.Name" class="form-control" />
                    <span asp-validation-for="PostImage.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostImage.AltText" class="control-label"></label>
                    <input asp-for="PostImage.AltText" class="form-control" />
                    <span asp-validation-for="PostImage.AltText" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PostImage.IsPublished" />@Html.DisplayNameFor(model => model.PostImage.IsPublished)
                    </label>
                </div>

            </div>

            <div class="card-footer">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
                <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
