@using System.Web
@model OnkelMato.BlogEngine.Web.ViewComponents.BlogFooterViewComponent

@{
    var counter = 0;
}
@foreach (var item in Model.MenuPosts)
{
    counter++;
    @if (!string.IsNullOrEmpty(item.Url))
    {
        <a href="@item.Url">@item.Title</a>

        if (counter != Model.MenuPosts.Count)
        {
            <text> |</text>
        }
    }
    @if (string.IsNullOrEmpty(item.Url))
    {
        <a href="/Post/@HttpUtility.UrlEncode(item.Title)/@item.PostId">@item.Title</a>

        if (counter != Model.MenuPosts.Count)
        {
            <text> |</text>
        }
    }
}
