@page
@using Microsoft.AspNetCore.Html
@model DetailModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-light bg-dark" style="background-image: url('/Image?id=@(Model.Post.HeaderImage)');">
                <h6>@Html.DisplayFor(item => item.Post.UpdatedAt)</h6>
                <h1>@Html.DisplayFor(modelItem => Model.Post.Title)</h1>
            </div>
            <div class="card-body">
                <p>@(new HtmlString(Model.Post.HtmlContent))</p>

            </div>
            <div class="card-footer text-right">
                <a asp-page="/Index" class="btn btn-dark">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>
