name: Release Package on Tag

on:
  push:
    branches: [ "main" ]
    tags:        
      - '*'
  pull_request:
    branches: [ "main" ]

jobs:

  buildAndPublish:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'
      - name: Determine Version
        id: version_step # step id used as a reference for output values
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          updateProjectFiles: true
      - name: Install dependencies
        run: dotnet restore  ./src/OnkelMato.BlogEngine.sln
      - name: Build with dotnet
        run: dotnet build --configuration Release --no-restore  ./src/OnkelMato.BlogEngine.sln

      - name: Run tests with code coverage
        run: dotnet test ./src/OnkelMato.BlogEngine.sln --configuration Release --logger "nunit;LogFileName=test-results.xml" --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=cobertura

      - uses: actions/upload-artifact@v4  # upload test results
        name: Publish Test Results
        if: ${{ !cancelled() }}           # run this step even if previous step failed
        with:
          name: test-results
          path: '**/test-results.xml'

      - name: Publish code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: '**/coverage.cobertura.xml'

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: '**/coverage.cobertura.xml'
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '0 80'

      #- name: Add Coverage PR Comment
      #  uses: marocchino/sticky-pull-request-comment@v2
      #  if: github.event_name == 'pull_request'
      #  with:
      #    recreate: true
      #    path: code-coverage-results.md

      - name: Publish
        run: dotnet publish -c Release --output ./Release ./src/OnkelMato.BlogEngine.Web/OnkelMato.BlogEngine.Web.csproj
      - name: Zip Folder
        run: |
          cd ./Release
          zip -r OnkelMatoBlogEngine_${{ steps.version_step.outputs.majorMinorPatch }}.zip * -x ".git/*" ".github/*" "appsettings.Development.json"
      - uses: actions/upload-artifact@v4
        with:
          name: OnkelMatoBlogEngine_${{ steps.version_step.outputs.majorMinorPatch }}
          path: ./Release/OnkelMatoBlogEngine_${{ steps.version_step.outputs.majorMinorPatch }}.zip
      - uses: softprops/action-gh-release@v2
        name: Release
        if: github.ref_type == 'tag'
        with:
          files: ./Release/OnkelMatoBlogEngine_${{ steps.version_step.outputs.majorMinorPatch }}.zip
        env:
          GH_TOKEN: ${{ secrets.REPO_TOKEN }}
