@page
@using OnkelMato.BlogEngine.Core.Service
@model OnkelMato.BlogEngine.Pages.AdminModel
@inject ISeoProvider SeoProvider
@{
    SeoProvider.SetSiteInfo(Html, "Admin Overview", "Blog Engine Admin Page", "noindex, nofollow");
}


<h2>Admin</h2>
@if (Model.AllowNewPosts)
{
    <div class="card alert-danger">
        <div class="card-body">
            <p>New posts are allowed. This should be turned off in production and the import process shall be used.</p>
        </div>
    </div>
}
@if (Model.AllowUnsignedImport)
{
    <div class="card alert-danger">
        <div class="card-body">
            <p>Unsigned imports are turned on. This should be turned off in production.</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header text-light bg-dark">
                <h1>
                    Import
                </h1>
            </div>
            <div class="card-body">
                <p>Import exported json into database. This option is preferred in production to upload new articles.</p>
                <p>Use a local staging environment for editing and reviewing the posts.</p>
            </div>
            <div class="card-footer">
                <div class="button">
                    <a asp-page="/Import" asp-route-entity="Blog" class="btn btn-dark">
                        Blog (full/partial) <i class="bi bi-arrow-right-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @if (Model.AllowExport)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-light bg-dark">
                    <h1>
                        Export
                    </h1>
                </div>
                @if (Model.JwtCertificateMissing)
                {
                    <div class="card alert-danger">
                        <div class="card-body">
                            <p>JWT export is enabled but not certificates are defined. This does not work.</p>
                        </div>
                    </div>
                }
                <div class="card-body">
                    <p>Export all posts or post images to a json file.</p>
                </div>
                <div class="card-footer">
                     <div class="button">
                        <a asp-page="/Export" class="btn btn-dark">
                            Blog (full) <i class="bi bi-arrow-right-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.AllowNewPosts)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header text-light bg-dark">
                    <h1>
                        Manage
                    </h1>
                </div>
                <div class="card-body">
                    <p>Manage posts directly on this web page.</p>
                </div>
                <div class="card-footer">
                        <a asp-page="/PostAdmin/Index" class="btn btn-dark">
                            Posts <i class="bi bi-arrow-right-circle"></i>
                        </a>
                        <a asp-page="/ImageAdmin/Index" class="btn btn-dark">
                            Images <i class="bi bi-arrow-right-circle"></i>
                        </a>
                        <a asp-page="/BlogAdmin/Edit" class="btn btn-dark">
                            Blog <i class="bi bi-arrow-right-circle"></i>
                        </a>
                </div>
            </div>
        </div>
    }
</div>
