@page
@model OnkelMato.BlogEngine.Pages.ImportModel
@{
    ViewData["Title"] = "Import";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    @if (!Model.ValidateCertificates)
    {
        <div class="card alert-danger">
            <div class="card-body">
                <p>Certificate Validation is turned off. This should be turned on in production.</p>
            </div>
        </div>
    }
        <div class="card alert-info">
            <div class="card-body">
                <p>
                    The following public certificates are configured for this blog: @Model.SignaturePublicKeys.
                </p>
            </div>
        </div>
    @if (Model.UseJsonFileInput)
    {
        <div class="col-sm-6">
            <div class="card">

                <form method="post" enctype="multipart/form-data">
                    <div class="card-header text-light bg-dark">
                        <h1>Import JSON file </h1>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <input hidden name="FormType" value="jsonFile" />
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="JsonDocumentFile" class="control-label"></label>
                                <input type="file" asp-for="JsonDocumentFile" class="form-control-file" />
                                <span asp-validation-for="JsonDocumentFile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SignatureFile" class="control-label"></label>
                                <input type="file" asp-for="SignatureFile" class="form-control-file" />
                                <span asp-validation-for="SignatureFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <input type="submit" value="Import" class="btn btn-primary" />
                        <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                    </div>
                </form>
            </div>
        </div>
    }

    @if (Model.UseSyncInput)
    {
        <div id="sync" class="col-sm-6">
            <div class="card">
                <form method="post" enctype="multipart/form-data">

                    <div class="card-header text-light bg-dark">
                        <h1>Sync Blog</h1>
                    </div>

                    <div class="form-group">
                        <input hidden name="FormType" value="sync" />
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="checkbox" id="ClearBlogBeforeSync" asp-for="ClearBlogBeforeSync" class="form-check-inbox" />
                            <label asp-for="ClearBlogBeforeSync" class="form-check-label"></label>
                        </div>
                        <div class="form-group">
                            <label asp-for="RemoteSyncUrl" class="control-label"></label>
                            <input asp-for="RemoteSyncUrl" class="form-control" />
                            <span asp-validation-for="RemoteSyncUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Import" class="btn btn-primary" />
                        <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                    </div>

                </form>
            </div>
        </div>
    }


    @if (Model.UseJwtInput)
    {

        <div class="col-sm-6">
            <div class="card">
                <form method="post" enctype="multipart/form-data">

                    <div class="card-header text-light bg-dark">
                        <h1>Import JWT</h1>
                    </div>

                    <div class="form-group">
                        <input hidden name="FormType" value="jwtFile" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-check">
                                <input type="checkbox" id="ImportAsNewBlog" asp-for="ImportAsNewBlog" class="form-check-input" />
                                <label asp-for="ImportAsNewBlog" class="form-check-label"></label>
                            </div>
                            <div class="custom-file">
                                <input type="file" asp-for="JwtDocumentFile" class="custom-file-input" />
                                <label asp-for="JwtDocumentFile" class="custom-file-label"></label>
                                <span asp-validation-for="JwtDocumentFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Import" class="btn btn-primary" />
                        <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                    </div>


                </form>
            </div>
        </div>
    }

    @if (Model.UseJsonTextInput)
    {
        <div class="col-sm-12">
            <div class="card">
                <form method="post" enctype="multipart/form-data">

                    <div class="card-header text-light bg-dark">
                        <h1>Import JSON file </h1>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <input hidden name="FormType" value="jsonText" />
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="JsonDocument" class="control-label" col-sm-3></label>
                                <textarea asp-for="JsonDocument" class="form-control" rows="20" cols="150"></textarea>
                                <span asp-validation-for="JsonDocument" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Signature" class="control-label" col-sm-3></label>
                                <textarea asp-for="Signature" class="form-control" rows="10" cols="150"></textarea>
                                <span asp-validation-for="Signature" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <input type="submit" value="Import" class="btn btn-primary" />
                        <a asp-page="/Admin" class="btn btn-secondary">Back to Admin</a>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
